# Node
node_modules/
npm-debug.log*

# Build
dist/
build/
out/
.next/
*.tsbuildinfo

# Electron
release/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

*.vrm