# Node
node_modules/
npm-debug.log*

# Build
dist/
build/
out/

# Electron
release/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

*.vrm